__pycache__/bandpassx.cpython-38.pyc
__pycache__/bandpassx.cpython-310.pyc
__pycache__/calcspx.cpython-38.pyc
__pycache__/constantValues.cpython-38.pyc
__pycache__/constantValues.cpython-310.pyc
__pycache__/controller.cpython-38.pyc
__pycache__/controller.cpython-310.pyc
__pycache__/curctrl_classifier.cpython-38.pyc
__pycache__/curvesForm.cpython-38.pyc
__pycache__/curvesFormAlp.cpython-38.pyc
__pycache__/debugPrinter.cpython-38.pyc
__pycache__/debugPrinter.cpython-310.pyc
__pycache__/dSPx.cpython-38.pyc
__pycache__/edfSaver.cpython-38.pyc
__pycache__/edfSaver.cpython-310.pyc
__pycache__/filterButter.cpython-38.pyc
__pycache__/generateModelX.cpython-38.pyc
__pycache__/generateModelX.cpython-310.pyc
__pycache__/lslReceiver.cpython-38.pyc
__pycache__/lslReceiver.cpython-310.pyc
__pycache__/lslSender.cpython-38.pyc
__pycache__/lslSender.cpython-310.pyc
__pycache__/miPredictor.cpython-38.pyc
__pycache__/plotsome.cpython-38.pyc
__pycache__/serialx.cpython-38.pyc
__pycache__/serialx.cpython-310.pyc
__pycache__/signal_generator_json.cpython-38.pyc
__pycache__/signal_generator_json.cpython-310.pyc
__pycache__/sin_signal.cpython-38.pyc
__pycache__/sin_signal.cpython-310.pyc
__pycache__/train_model_curctrl.cpython-38.pyc
__pycache__/train_model.cpython-38.pyc
__pycache__/train_model.cpython-310.pyc
__pycache__/ui.cpython-38.pyc
__pycache__/ui.cpython-39.pyc
__pycache__/ui.cpython-310.pyc
__pycache__/worker.cpython-38.pyc
__pycache__/worker.cpython-310.pyc
images/software_architecture.png
sounds/bingbing.wav
LICENSE
datasets/BCICIV_1_mat/BCICIV_calib_ds1a.mat
datasets/BCICIV_1_mat/BCICIV_calib_ds1b.mat
datasets/BCICIV_1_mat/BCICIV_calib_ds1c.mat
datasets/BCICIV_1_mat/BCICIV_calib_ds1d.mat
datasets/BCICIV_1_mat/BCICIV_calib_ds1e.mat
datasets/BCICIV_1_mat/BCICIV_calib_ds1f.mat
datasets/BCICIV_1_mat/BCICIV_calib_ds1g.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1a.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1b.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1c.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1d.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1e.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1f.mat
datasets/BCICIV_1_mat/BCICIV_eval_ds1g.mat
datasets/BCICIV_2b_gdf/B0101T.gdf
datasets/BCICIV_2b_gdf/B0102T.gdf
datasets/BCICIV_2b_gdf/B0103T.gdf
datasets/BCICIV_2b_gdf/B0104E.gdf
datasets/BCICIV_2b_gdf/B0105E.gdf
datasets/BCICIV_2b_gdf/B0201T.gdf
datasets/BCICIV_2b_gdf/B0202T.gdf
datasets/BCICIV_2b_gdf/B0203T.gdf
datasets/BCICIV_2b_gdf/B0204E.gdf
datasets/BCICIV_2b_gdf/B0205E.gdf
datasets/BCICIV_2b_gdf/B0301T.gdf
datasets/BCICIV_2b_gdf/B0302T.gdf
datasets/BCICIV_2b_gdf/B0303T.gdf
datasets/BCICIV_2b_gdf/B0304E.gdf
datasets/BCICIV_2b_gdf/B0305E.gdf
datasets/BCICIV_2b_gdf/B0401T.gdf
datasets/BCICIV_2b_gdf/B0402T.gdf
datasets/BCICIV_2b_gdf/B0403T.gdf
datasets/BCICIV_2b_gdf/B0404E.gdf
datasets/BCICIV_2b_gdf/B0405E.gdf
datasets/BCICIV_2b_gdf/B0501T.gdf
datasets/BCICIV_2b_gdf/B0502T.gdf
datasets/BCICIV_2b_gdf/B0503T.gdf
datasets/BCICIV_2b_gdf/B0504E.gdf
datasets/BCICIV_2b_gdf/B0505E.gdf
datasets/BCICIV_2b_gdf/B0601T.gdf
datasets/BCICIV_2b_gdf/B0602T.gdf
datasets/BCICIV_2b_gdf/B0603T.gdf
datasets/BCICIV_2b_gdf/B0604E.gdf
datasets/BCICIV_2b_gdf/B0605E.gdf
datasets/BCICIV_2b_gdf/B0701T.gdf
datasets/BCICIV_2b_gdf/B0702T.gdf
datasets/BCICIV_2b_gdf/B0703T.gdf
datasets/BCICIV_2b_gdf/B0704E.gdf
datasets/BCICIV_2b_gdf/B0705E.gdf
datasets/BCICIV_2b_gdf/B0801T.gdf
datasets/BCICIV_2b_gdf/B0802T.gdf
datasets/BCICIV_2b_gdf/B0803T.gdf
datasets/BCICIV_2b_gdf/B0804E.gdf
datasets/BCICIV_2b_gdf/B0805E.gdf
datasets/BCICIV_2b_gdf/B0901T.gdf
datasets/BCICIV_2b_gdf/B0902T.gdf
datasets/BCICIV_2b_gdf/B0903T.gdf
datasets/BCICIV_2b_gdf/B0904E.gdf
datasets/BCICIV_2b_gdf/B0905E.gdf
datasets/BCICIV_2b_gdf/desc_2b.pdf
datasets/BCICIV_3_mat/description.pdf
datasets/BCICIV_3_mat/S1.mat
datasets/BCICIV_3_mat/S2.mat
datasets/BCICIV_3_mat/SensorPos.pdf
